#desk {
  width: 90%;
  border: 1px solid black;
}



#btn-create-list {
  margin-top: 15px;
  margin-bottom: 15px;
}


.container {
  display: flex;
  width: 700px;
  height: 650px;
  border: black solid 1px;
  overflow-x: scroll;
  align-items: flex-start;
}

.list {
  min-width: 300px;
  padding: 5px;
  margin: 15px;
  background-color: bisque;
  border-radius: 15px;
  border: black solid 1px;
  box-shadow: 10px 5px 5px black;
}
 .list h2 {
  display: inline;
 }

 .btn_cross {
  background-color: bisque;
  height: 50px;
  border-radius: 100px;
  border: none;
  text-align: center;
  margin-left: 60px;
 }

 .btn_cross:hover {
  border: black solid 0.5px;
  background-color: beige;
 }

 .add-card {
  border: none;
  background-color: blanchedalmond;
  border-radius: 15px;
 }

 .add-card:hover {
  border: black solid 0.5px;
 }

 .card-text {
  height: 100px;
  width: 300px;
 }

 .btn_card_cross {
  position: absolute;
  margin-left: -30px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 70px;
  opacity: 0;
 }

 .btn_card_cross:hover {
  border: black solid 0.5px;
 }

 .btn_card_cross_show{
  opacity: 1;
 }

