#desk {
  width: 90%;
  border: 1px solid black;
}



#btn-create-list {
  margin-top: 15px;
  margin-bottom: 15px;
}


.container {
  display: flex;
  width: 700px;
  height: 650px;
  border: black solid 1px;
  overflow-x: scroll;
  align-items: flex-start;
}

.list {
  min-width: 300px;
  padding: 5px;
  margin: 15px;
  background-color: bisque;
  border-radius: 15px;
  border: black solid 1px;
  box-shadow: 10px 5px 5px black;
}
 .list h2 {
  display: inline;
 }
